<!DOCTYPE html>
<html lang="en">
<head>
  <title>Welcome to wonderPC Store</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Raleway:200,100" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">

  <link rel="stylesheet" href="/stylesheets/navbar.css">
  <link rel="stylesheet" href="/stylesheets/hpstyle.css">
  <link rel="stylesheet" href="/stylesheets/carousel.css">



  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
  <div id="navbarHere"><% include ../public/navbar/navbar %></div>

<section class="mbr-slider mbr-section mbr-section--no-padding carousel slide" data-ride="carousel" data-wrap="true" data-interval="5000" id="slider-5" style="background-color: #4c6972;">
    <div class="mbr-section__container">
        <div>
            <ol class="carousel-indicators">
                <li data-app-prevent-settings="" data-target="#slider-5" data-slide-to="0" class="active"></li><li data-app-prevent-settings="" data-target="#slider-5" data-slide-to="1"></li><li data-app-prevent-settings="" data-target="#slider-5" class="" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="mbr-box mbr-section mbr-section--relative mbr-section--fixed-size mbr-section--bg-adapted item dark center mbr-section--full-height active" style="background-image: url(images/car2.jpg);">
                    <div class="mbr-box__magnet mbr-box__magnet--center-right mbr-box__magnet--sm-padding">
                                            
                       
                    </div>
                </div><div class="mbr-box mbr-section mbr-section--relative mbr-section--fixed-size mbr-section--bg-adapted item dark center mbr-section--full-height" style="background-image: url(images/car3.jpg);">
                    <div class="mbr-box__magnet mbr-box__magnet--center-center mbr-box__magnet--sm-padding">
                                            
                        
                    </div>
                </div><div class="mbr-box mbr-section mbr-section--relative mbr-section--fixed-size mbr-section--bg-adapted item dark center mbr-section--full-height" style="background-image: url(images/car1.jpg);">
                    <div class="mbr-box__magnet mbr-box__magnet--center-left mbr-box__magnet--sm-padding">
                                            
                        
                    </div>
                </div>
            </div>
            
            <a data-app-prevent-settings="" class="left carousel-control" role="button" data-slide="prev" href="#slider-5">
                <span aria-hidden="true"><</span>
                <span class="sr-only">Previous</span>
            </a>
            <a data-app-prevent-settings="" class="right carousel-control" role="button" data-slide="next" href="#slider-5">
                <span aria-hidden="true">></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</section>

<div class="container-fluid" id="promotion" >
  <!--<h2>Promoted Items</h2>-->
  <h2></h2>
</div>
<div class="container" >
  <div class="row">
    <% print.forEach(function (pr) { %>
    <div class="col-lg-3">
      <a href="../products/<%=pr.model_no%>">
        <div class="panel panel-primary">
          <div class="panel-heading text-center" id="<%=pr.model_no%>" style="background-color: #3264b5"><td><%= pr.name %></td></div>
          <div class="panel-body"><img src="images/<%=pr.model_no%>/000001.jpg" class="img-responsive" style="max-width:80%; max-height:150px; margin:auto" alt="Image"></div>
          <div class="panel-footer text-center"><td><%= pr.price_usd%></td></div>
        </div>
      </a>
    </div>
    <% }) %>

  </div>
</div>

<div class="container">
  <a href="../pcBuilder">
    <div class="jumbotron" id="builderAd">
      <h1>PC Builder</h1>
      <p>A simple yet powerful pc building tool!</p>
    </div>
  </a>
</div>


  <script src="/javascripts/navbar.js"></script>
</body>
</html> 
