<!DOCTYPE html>
<head>
	<title>Welcome to wonderPC Store</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css?family=Raleway:200,100" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">

	<link rel="stylesheet" href="/stylesheets/navbar.css">
	<link rel="stylesheet" href="/stylesheets/shopcart.css">
	<!--<link rel="stylesheet" href="/stylesheets/hpstyle.css">-->



	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<!------ Include the above in your HEAD tag ---------->
<body>

<div id="navbarHere"><% include ../public/navbar/navbar %></div>

<div class="container">
	 
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-info">
				<div class="panel-heading">
					<div class="panel-title">
						<div class="row">
							<div class="col-lg-6">
								<h5><span class="glyphicon glyphicon-shopping-cart"></span> Shopping Cart</h5>
							</div>
							<div class="col-lg-6">
								<button type="button" class="btn btn-primary btn-sm btn-block" onclick="window.location.href='../'">
									<span class="glyphicon glyphicon-share-alt"></span> Continue shopping
								</button>
							</div>
						</div>
					</div>
				</div>
				 
				<div class="panel-body">
                    <% var total = 0; %>
					
					<% print.forEach(function (pr) { %>
					<!--<input type="text" name="pid" id='pid' value='<%=pr.pid%>'  />-->

					<div class="row">
						<div class="col-lg-2"><img class="img-responsive" src="images/<%=pr.pid%>/000001.jpg">
						</div>
						<div class="col-lg-4">
							<h4 class="product-name"><strong><%=pr.pid%></strong></h4><h4><small><%=pr.pid%></small></h4>
						</div>
						<div class="col-lg-6">
							<div class="col-lg-6 text-right">
								<h6><strong>(<%=pr.price_usd%>) <span class="text-muted"> x</span></strong></h6>
							</div>
							<div class="col-lg-4">
								
								<input type="number" id ="quantityNumber"onchange = "updateFunction('<%= pr.pid%>',this)" min = "1" value = "<%=pr.amount%>" class="form-control input-sm" >
								
							</div>
							<div class="col-lg-2">
								
								<a href = "../shopCart/removeProduct/<%=pr.pid%>">
								<button type="button" class="btn btn-link btn-lg"  id="removebtn" value='<%=pr.pid%>'>
									<span class="glyphicon glyphicon-trash"> </span>
								</button>
								</a>
							</div>
                            <% total += pr.amount * parseFloat(pr.price_usd); %>
						</div>
					</div>
					<hr>
  				<% }) %>

					<div class="row">
						<div class="text-center">
							<div class="col-lg-9">
								<!--<h6 class="text-right">Added items?</h6>-->
							</div>
							<div class="col-lg-3">
								<button onclick = "UpdateCartFunction()"type="button" class="btn btn-default btn-sm btn-block">
									Update cart
								</button>
							</div>
						</div>
					</div>
				</div>
				<div class="panel-footer">
					<div class="row text-center">
						<div class="col-lg-9">
							<h4 class="text-right" id="total" value="<%=total%>">Total <strong><%=total%>,00 $ + Tax</strong></h4>
						</div>
						<div class="col-lg-3">
							<a href="../payment">
							<button type="button" class="btn btn-success btn-block" id="checkoutbtn">
								Checkout
							</button>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script>

function updateFunction(prId,quantity2){

var quantity1 = quantity2.value;



		$.ajax({
				type: 'POST',
				url: '/shopCart/updateProduct',
				data: JSON.stringify({pid: prId, quantity: quantity1}),
				contentType: "application/json; charset=utf-8",
				dataType: 'json'
        });

}

function UpdateCartFunction() {
location.reload();
}
   // $('#removebtn').click(function(event) {
       /* var arr={};
        //var pid = document.getElementById('pid').value;

        arr[0]= document.getElementById('removebtn').value;
        $.ajax({
            type: 'POST',
            url: '/shopCart/removeProduct',
            data: JSON.stringify(arr),
            contentType: "application/json; charset=utf-8",
            dataType: 'json'
        });*/
		
   // });

    // $('#checkoutbtn').click(function(event) {
    //     var arr={};
    //     //var pid = document.getElementById('pid').value;
    //
    //     arr[0]= document.getElementById('total').value;
    //     $.ajax({
    //         type: 'POST',
    //         url: '/payment/removeProduct',
    //         data: JSON.stringify(arr),
    //         contentType: "application/json; charset=utf-8",
    //         dataType: 'json'
    //     });
    //
    // });

    // function remove(id){
     //    var arr={};
     //    console.log(id);
     //    arr[0]= id;
     //    $.ajax({
     //        type: 'POST',
     //        url: '/shopCart/removeProduct',
     //        data: JSON.stringify(arr),
     //        contentType: "application/json; charset=utf-8",
     //        dataType: 'json'
     //    });
	// }

</script>
  <script src="/javascripts/navbar.js"></script>
</body>
</html>