<!DOCTYPE html>
<html lang="en">
<head>
    <title>Welcome to wonderPC Store</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:200,100" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">

    <link rel="stylesheet" href="/stylesheets/navbar.css">
    <link rel="stylesheet" href="/stylesheets/hpstyle.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>



    <script type="text/javascript" src="javascripts/md5-min.js"></script>
    <script type="text/javascript" src="javascripts/user.js"></script>

</head>

<body>
    <div id="navbarHere"><% include ../public/navbar/navbar %></div>

    <h3> <%=user.first_name%> </h3>

    <h3> <%=user.first_name%> <%= user.last_name%></h3>
    <h3> <%=user.email%></h3>
    <h3> <%=user.home_address%></h3>

    <h3> Update e-mail address:</h3>
    <input type="text" name="mail" id='mail'/>
    <button type="button" class="btn btn-primary" id ="mailbtn">Submit</button>



    <h3> Update home address:</h3>
    <input type="text" name="address" id='address'/>
    <button type="button" class="btn btn-primary" id ="addressbtn">Submit</button>

    <h3> Update password:</h3>
    <input type="text" name="pass" id='pass' placeholder="New Password"/>
    <input type="text" name="pass1" id='pass1' placeholder="Confirm Password"/>
    <button type="button" class="btn btn-primary" id ="passbtn" onclick="btnOnClick()" >Submit</button>




    <script src="/javascripts/userPage.js"></script>
    <script src="/javascripts/navbar.js"></script>
</body>
</html>